/*START #fh5co-header*/
/* TOP の色 */
.sf-menu li:hover a, 
.sf-menu li.sfHover a, 
.sf-menu ul li:hover a, 
.sf-menu ul li.sfHover a, 
.sf-menu li.active a {
    color: #2d9c9b;;
}

/*.img-responsive{
  width: 100%;
  height: 200px;
  object-fit: contain;
}*/

.fh5co-cards .fh5co-card{
	/*position: absolute;*/
}